name: Build & Deploy .NET 9 to IIS (Windows)

on:
  push:
    branches: ["master", "main"]
  workflow_dispatch:
  

permissions:
  contents: read

jobs:
  build:
    name: Build Job
    runs-on: windows-latest

    steps:
    - name: Checkout Source
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Restore Dependencies
      run: dotnet restore

    - name: Build Application
      run: dotnet build --configuration Release --no-restore

    - name: Publish Application
      run: dotnet publish --configuration Release --output publish

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dotnet9-publish
        path: publish